* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  color: #333;
  background: #fff;
  font-family: "Dollie Script", helvetica, arial, sans-serif;
  font-size: 0.9em;
  line-height: 140%;
}

div, button, header, footer, section, span,
ul, li, a, input, h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
}

header, footer, section {
  display: block;
}

header {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.header{
  width:100%;
  background: #3ad;
  height:50px;
  z-index: 4;
}

.header-inner {
  position:relative;
  border:0px solid #333;
  width:auto;
  height:50px;
  margin:0 auto;
}

.header-left-menu {
  height: 50px;
  position: absolute;
  left: 0px;
  top: 0px;
  border: 0px solid #1fa2e1;
}

.header-left-menu ul {
  padding-left: 0px;
}

.header-right-menu {
  height: 50px;
  position: absolute;
  right: 0px;
  top: 0px;
  border: 0px solid #1fa2e1;
}

.header-right-menu ul {
  padding-right: 0px;
}

.header-menu ul li {
  background: url(../img/split-line-2.png) 0px 0px no-repeat;
  float: left;
  height: 50px;
}

.header-menu ul li a {
  margin-top: 0px;
  font-weight: 100;
  border-right: 0px solid #adadad;
  display: block;
  color: #fff;
  text-decoration: none;
  line-height: 18px;
  font-size: 16px;
  padding: 14px 18px 19px 18px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header-menu ul li a:hover {
  background: #fff;
  color: #555;
}

.logo {
  position: absolute;
  left: 5px;
  top: 80px;
}

@media screen and (min-width: 1200px) {
  .wrapper {
    width: 1170px;
  }
}

@media screen and (min-width: 992px) {
  .wrapper {
    width: 970px;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    width: 750px;
  }
}

.wrapper {
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 1200px;
  margin: 140px auto 0;
  min-height: calc(100vh - 120px);
  height: auto !important;
}

.footer {
  margin-top: 0px;
  height: 50px;
  width: 100%;
  background: #3ad;
}

.footer-inner {
  position: relative;
  border: 0px solid #333;
  width: auto;
  margin: 0px auto;
  height: 50px;
}

.social-media {
  z-index: 1;
  position: absolute;
  right: 10px;
  bottom: 0px;
}

.social-media a {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 2px;
  margin-bottom: 0px;
}

.social-media .icon-twitter {
  background: url(../img/twitter.png) 0 center no-repeat;
  padding-right: 5px;
  padding-bottom: 20px;
  font-size: 15px;
  margin-right: 0px;
}

.social-media .icon-facebook {
  background: url(../img/facebook.png) 0 center no-repeat;
  padding-right: 5px;
  padding-bottom: 20px;
  font-size: 15px;
  margin-right: 0px;
}

.social-media .icon-linkedin {
  background: url(../img/linkedin.png) 0 center no-repeat;
  padding-right: 5px;
  padding-bottom: 20px;
  font-size: 15px;
  margin-right: 0px;
}

.post-box {
  border: 0px solid #333;
  background: #fff;
  width: 100%;
  height: 100%;
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 50px;
}

.post-box h1 {
  font-family: tahoma, helvetica, sans-serif;
  color:#000;
  font-style:normal;
  font-weight:100;
  font-size:33px;
  line-height:35px;
  margin-bottom: 20px;
}

.post-box p {
  font-family: tahoma, helvetica, sans-serif;
  color:#000;
  font-style:normal;
  font-weight:100;
  font-size: 15px;
  margin-bottom: 10px;
}
/*-------------------------------*/
.form-signin {
  max-width: 450px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin input {
  margin-top: 10px;
}

.form-signin button {
  margin-top: 10px;
}

.form-heading {
  padding: 15px;
  padding-top: 25px;
  margin: 0 auto;
  max-width: 450px;
  font-family: sans-serif;
  font-size: 150%;
}

.form-group {
  margin-bottom: 15px;
  box-sizing: border-box;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.4;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  -moz-user-select: none;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn:hover, .btn:focus {
  text-decoration: none;
}

.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.2;
  border-radius: 6px;
}

.btn-primary {
  color: #fff;
  background-color: #006dcc;
  border-color: #0044cc;
}

.btn-primary:hover {
  color: #fff;
  background-color: #004480;
  border-color: #002b80;
}

.btn-primary:focus {
  color: #fff;
  background-color: #003666;
  border-color: #002266;
}

.btn-block {
  display: block;
  width: 106%;
}

.has-error {
  color: red;
}

.text-center {
  text-align: center;
}

.checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000 !important;
  box-sizing: inherit;
}
